@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #1EACC7;
  border-radius: 6px;
  border: none;
  width: 152px;
  height: 46px;
}

.button:hover {
  cursor: pointer;
  background-color: #15849a;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header .wrapper {
  background-color: #212121;
  height: 53px;
}

header .wrapper nav {
  height: 100%;
  width: 1029px;
  margin: 0 auto;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
}

header .wrapper nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 31px;
  border-right: 2px dotted #000000;
  padding: 0px 29px;
  list-style-type: none;
}

header .wrapper nav ul li a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

header .wrapper nav ul li a:hover {
  cursor: pointer;
  color: #1EACC7;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

header .wrapper nav ul li:nth-last-child(-n+1) {
  border-right: none;
}

header .subheader {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 100%;
}

header .subheader .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1029px;
  margin: 0 auto;
  padding: 20px 45px;
}

header .subheader .container img {
  margin-bottom: 4px;
}

header .subheader .container div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
}

header .subheader .container .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .subheader .container .call .contacts {
  display: block;
  margin-right: 32px;
}

header .subheader .container .call .contacts .call_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: end;
  margin-bottom: 4px;
}

header .subheader .container .call .contacts .call_tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-align: end;
}

.about {
  background-image: url(../img/uber_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about .wrapper {
  height: auto;
  width: 1041px;
  margin: 0 auto;
  padding: 150px 0px 180px;
}

.about .wrapper h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
}

.about .wrapper h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
}

.about .wrapper p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 116px;
}

.about .wrapper .button {
  display: block;
  margin: 0 auto;
  height: 63px;
  width: 209px;
}

.advantages {
  width: 1141px;
  margin: 0 auto;
  padding: 20px 0px 64px;
}

.advantages_title {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin: 0 auto;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px;
  margin-bottom: 32px;
}

.advantages h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: 16px;
}

.advantages .advantages_list {
  width: 100%;
}

.advantages .advantages_list .advantages_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}

.advantages .advantages_list .advantages_item-wrapper {
  margin-left: 25px;
}

.advantages .advantages_list .advantages_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .advantages_list .advantages_item:last-child {
  margin-left: 70px;
}

.advantages .advantages_list .advantages_item .advantages_iconborder {
  background-color: black;
  border-radius: 50%;
  border: none;
  height: 116px;
  width: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages .advantages_list .advantages_item h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7;
}

.advantages .advantages_list .advantages_item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.mobile {
  background-image: url(../img/mobile_bg.jpg);
}

.mobile .wrapper {
  max-width: 1141px;
  margin: 0 auto;
  padding: 46px 0px 80px;
}

.mobile .wrapper .possibilities {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin: 0 auto;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 6px;
  margin-bottom: 32px;
}

.mobile .wrapper .mobile_subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.mobile .wrapper .mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0px;
}

.mobile .wrapper .mobile_list .mobile_list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item {
  position: relative;
  padding: 82px 12px 0px;
  height: 280px;
  width: 320px;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_1 {
  background-image: url(../img/ima1.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_2 {
  background-image: url(../img/ima2.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_3 {
  background-image: url(../img/ima3.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_4 {
  background-image: url(../img/ima4.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_5 {
  background-image: url(../img/ima5.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item_6 {
  background-image: url(../img/ima6.jpg);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: 34px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle:after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #1EACC7;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 18px;
  width: 2px;
  background-color: #1EACC7;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle:hover:after {
  background-color: #15849a;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle:hover:before {
  background-color: #15849a;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile .wrapper .mobile_list .mobile_list-row .mobile_list-item .mobile_list-circle:hover {
  cursor: pointer;
}

.mobile .wrapper .mobile_list .mobile_list-row:nth-child(1) {
  margin-bottom: 19px;
}

.example {
  width: 1400px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  margin: 0 auto;
}

.example .example_item {
  height: 50px;
  text-align: center;
  border: 2px solid black;
  width: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.example .example_item:nth-child(5) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media screen and (max-width: 600px) {
  header {
    z-index: 1;
  }
  header .wrapper {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    height: 44px;
  }
  header .wrapper nav {
    position: fixed;
    right: 0px;
    top: 0px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    height: 100vh;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.85);
  }
  header .wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 15px 25px 15px;
  }
  header .wrapper nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    list-style-type: none;
    width: 100%;
    text-align: left;
    border: none;
    padding: 0;
    margin-bottom: 15px;
  }
  header .wrapper nav ul li:last-child {
    margin-bottom: 0px;
  }
  header .wrapper nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
  }
  header .wrapper .burger {
    position: absolute;
    top: 50%;
    left: 4px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  header .wrapper .burger span {
    display: block;
    height: 1.8px;
    margin-bottom: 5px;
    background-color: #1EACC7;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header .wrapper .burger span:last-child {
    margin-bottom: 0px;
  }
  header .wrapper-active .burger span {
    margin-bottom: -1.8px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header .wrapper-active .burger span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .wrapper-active .burger span:nth-child(2) {
    display: none;
  }
  header .wrapper-active .burger span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .wrapper-active nav {
    position: fixed;
    height: 100vh;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  header .wrapper-active nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 15px 25px 15px;
  }
  header .wrapper-active nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    list-style-type: none;
    width: 100%;
    text-align: left;
    border: none;
    padding: 0;
    margin-bottom: 15px;
  }
  header .wrapper-active nav ul li:last-child {
    margin-bottom: 0px;
  }
  header .wrapper-active nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
  }
  header .wrapper-active nav ul li a:hover {
    cursor: pointer;
    color: #1EACC7;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  header .wrapper-active nav ul li:nth-last-child(-n+1) {
    border-right: none;
  }
  header .subheader {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 100%;
  }
  header .subheader .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1029px;
    margin: 0 auto;
    padding: 20px 45px;
  }
  header .subheader .container img {
    margin-bottom: 4px;
  }
  header .subheader .container div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
  }
  header .subheader .container .call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .subheader .container .call .contacts {
    display: block;
    margin-right: 32px;
  }
  header .subheader .container .call .contacts .call_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: end;
    margin-bottom: 4px;
  }
  header .subheader .container .call .contacts .call_tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-align: end;
  }
}
/*# sourceMappingURL=style.css.map */